/* -------------- */
/* CSS RESET HERE */
/* -------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-worksans);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* --------------------- */
/* Constomize Value here */
/* --------------------- */

:root {
  /* color */
  --clr-dark1: #131313;
  --clr-dark2: #424242;
  --clr-dark3: #727272;
  --clr-dark4: #a1a1a1;
  --clr-dark5: #a1a1a1;
  --clr-dark6: #e7e7e7;
  --clr-dark7: #f3f3f3;
  --clr-white: #ffffff;
  --clr-orange: #ff900e;
  --clr-light-orange: hsl(from var(--clr-orange) h s l / 0.1);

  /* font-size */
  --fs-900: 4rem; /*64px*/
  --fs-800: 2.8125rem; /*45px*/
  --fs-700: 1.25rem; /*20px*/
  --fs-600: 1.125rem; /*18px*/

  /* font-width */
  --fw-bold: 800;
  --fw-semibold: 700;
  --fw-medum: 600;
  --fw-regular: 400;

  /* font-family */
  --ff-worksans: "Work Sans", sans-serif;
}

/* --------------------- */
/* Utility fist approche */
/* --------------------- */
/* color style */
.spn-clr {
  color: #ff900e;
}

.clr-1 {
  color: var(--clr-dark1);
}
.clr-2 {
  color: var(--clr-dark2);
}
.clr-3 {
  color: var(--clr-dark3);
}
.clr-4 {
  color: var(--clr-dark4);
}
.clr-5 {
  color: var(--clr-dark5);
}
.clr-6 {
  color: var(--clr-dark6);
}
.clr-7 {
  color: var(--clr-dark7);
}
.clr-white {
  color: var(--clr-white);
}
.clr-orang {
  color: var(--clr-orange);
}

/* backgound style */

.bg-orang {
  background-color: var(--clr-orange);
}
.bg-light-orang {
  background-color: var(--clr-light-orange);
}

/* font size style */
.fs-900 {
  font-size: clamp(2rem, 5vw, var(--fs-900));
}
.fs-800 {
  font-size: clamp(1.3rem, 4vw, var(--fs-800));
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}

/* font-weight */
.fw-800 {
  font-weight: 800;
}
.fw-700 {
  font-weight: 700;
}
.fw-600 {
  font-weight: 600;
}

/* text align ment */
.txt-aln {
  text-align: center;
}

/* button style */
.btn-primary {
  border: none;
  outline: none;
  background-color: var(--clr-orange);
  color: var(--clr-white);
  font-size: var(--fs-600);
  padding: 0.8rem 1.3rem;
  font-weight: var(--fw-medum);
  border-radius: 6px;
}


/* flexbox style */

.flx {
  display: flex;
}

.flx-clm {
  display: flex;
  flex-direction: column;
}

/* Common css reuse code */

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 97%;
  border: 1px solid red;
}

/* ------------------ */
/*  Main style start  */
/* ------------------ */

/* header paer start */
header {
  padding: 1.3rem 0;
}

/* nav style start */

.navbar .flx,
.nav-links {
  justify-content: space-between;
  align-items: center;
}

.nav-links > * + * {
  margin-left: 1rem;
}
/* nav style end */

/* Banner related style start */
.banner-content {
  max-width: 862px;
  margin: 6rem auto 2.5rem;
}

.banner-title {
  margin-bottom: 1rem;
}
.banner-txt {
  margin-bottom: 1.9rem;
  line-height: 26px;
}
/* Banner related style end */
/* header paer end */


/* -------------------- */
/* Main part style start */
/* -------------------- */
main{
  margin: 5.3125rem;
}

main section{
  margin-block-end: 7.25rem;
}

/* teams related style start */
.teams{
  justify-content: center;
  align-items: center;
  gap: 4.1rem;
  padding: 3.7rem;
}

.team-image-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.team-image-content img{
  width: 342px;
  transition: 3000ms;
}

.team-image-content img:hover{
  transform: scale(1.03);
}


.team-features-content{
  max-width: 537px;
}

.team-features-description{
  line-height: 26px;
  margin-block: 1.5rem 2rem;
}

/* teams related style end */

/* Love and enjoy feature related style start */

.feature-content-container{
  max-width: 586px;
}

.feature-image-container{
  max-width: 800px;
}

.feature-image-contaienr-img{
  max-width: 708px;
}

.feature-image-contaienr-text{
  position: relative;
  left: -25px;
  bottom: 80px;
  max-width: 342px;
  text-align: center;
  padding: 45px 0;
  border-radius: 0.5rem;
}

.feature-image-contaienr-text h1{
  line-height: 70px;
}
.feature-image-contaienr-text p{
  line-height: 40px;
  font-size: 1.6rem;
}

/* Love and enjoy feature related style  end */

/* some facts relate style start */

.fact-content-container{
  text-align: center;
  margin-bottom: 6.25rem;
}
.fact-content-description{
  line-height: 26px;
  max-width: 542px;
  margin: 0 auto;
}

.fact-number-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 0 3.25rem;

}

.fact-item{
  display: grid;
  place-items: center;
  padding-block: 3rem;
  border: 1px solid var(--clr-orange);
}

/* some facts relate style end */


/* Sponsors related style start */
.sponsors-content-container{
  text-align: center;
  margin-bottom: 3.125rem;
}

.sponsors-descrition{
  max-width: 542px;
  margin: 0 auto;
}

.sponsor-icons-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 2rem;
}

.sponsors-icon-item{
 max-width: 282px;
 margin: 0 auto;
 padding:1.4rem 3rem;
}

.sponsors-icon-item img{
  filter: grayscale(100%);
}
/* Sponsors related style end */


/* small device responsive */

@media screen and (max-width: 576px) {
  /* Navigation related style */
  .navbar .flx,
  .nav-links {
    flex-direction: column;
  }
/* Banner related style */
  .banner-content {
    margin: 2rem auto;
  }
/* tean relate style */
  .teams{
    flex-direction: column;
    padding: 0;
    text-align: center;
  }

  .team-image-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }


  /* Some Fact related style */
  .fact-number-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* sponsor related style */
  .sponsor-icons-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

}


/* medius device responsive */

@media screen and (min-width: 576px) and (max-width: 992px){
  /* Teams related style */
  .teams{
    flex-direction: column-reverse;
    gap: 1rem;
    text-align: center;
  }
  
  .team-image-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  /* Some Fact related style */
  .fact-number-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

    /* sponsor related style */
  .sponsor-icons-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

}




.hidden{
  display: none;
}