/* -------------- */
/* CSS RESET HERE */
/* -------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-worksans);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* --------------------- */
/* Constomize Value here */
/* --------------------- */

:root {
  /* color */
  --clr-dark1: #131313;
  --clr-dark2: #424242;
  --clr-dark3: #727272;
  --clr-dark4: #a1a1a1;
  --clr-dark5: #a1a1a1;
  --clr-dark6: #e7e7e7;
  --clr-dark7: #f3f3f3;
  --clr-white: #ffffff;
  --clr-orange: #ff900e;
  --clr-light-orange: hsl(from var(--clr-orange) h s l / 0.1);

  /* font-size */
  --fs-900: 4rem; /*64px*/
  --fs-800: 2.8125rem; /*45px*/
  --fs-700: 1.25rem; /*20px*/
  --fs-600: 1.125rem; /*18px*/

  /* font-width */
  --fw-bold: 800;
  --fw-semibold: 700;
  --fw-medum: 600;
  --fw-regular: 400;

  /* font-family */
  --ff-worksans: "Work Sans", sans-serif;
}

/* --------------------- */
/* Utility fist approche */
/* --------------------- */
/* color style */
.spn-clr {
  color: #ff900e;
}

.clr-1 {
  color: var(--clr-dark1);
}
.clr-2 {
  color: var(--clr-dark2);
}
.clr-4 {
  color: var(--clr-dark4);
}
.clr-4 {
  color: var(--clr-dark4);
}
.clr-5 {
  color: var(--clr-dark56);
}
.clr-white {
  color: var(--clr-dark6);
}
.clr-orang {
  color: var(--clr-orange);
}

/* backgound style */

.bg-light-orang {
  background-color: var(--clr-light-orange);
}

/* font size style */
.fs-900 {
  font-size: clamp(2rem, 5vw, var(--fs-900));
}
.fs-800 {
  font-size: clamp(1.3rem, 3vw, var(--fs-800));
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}

/* font-weight */
.fw-800 {
  font-weight: 800;
}
.fw-700 {
  font-weight: 700;
}
.fw-600 {
  font-weight: 600;
}

/* text align ment */
.txt-aln {
  text-align: center;
}

/* button style */
.btn-primary {
  border: none;
  outline: none;
  background-color: var(--clr-orange);
  color: var(--clr-white);
  font-size: var(--fs-700);
  padding: 0.8rem 1.3rem;
  font-weight: var(--fw-medum);
  border-radius: 6px;
}

/* flexbox style */

.flx {
  display: flex;
}

.flx-clm {
  display: flex;
  flex-direction: column;
}

/* Common css reuse code */

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 97%;
}

/* ------------------ */
/*  Main style start  */
/* ------------------ */

/* header paer start */
header {
  padding: 1.3rem 0;
}

/* nav style start */

.navbar .flx,
.nav-links {
  justify-content: space-between;
  align-items: center;
}

.nav-links > * + * {
  margin-left: 1rem;
}
/* nav style end */

/* Banner related style start */
.banner-content {
  max-width: 862px;
  margin: 6rem auto 2.5rem;
}

.banner-title {
  margin-bottom: 1rem;
}
.banner-txt {
  margin-bottom: 1.9rem;
  line-height: 26px;
}
/* Banner related style end */

@media screen and (max-width: 576px) {
  .navbar .flx,
  .nav-links {
    flex-direction: column;
  }
  .banner-content {
    margin: 2rem auto;
  }
}

/* header paer end */
